.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul > li {
    margin-bottom: 10px;
    
}

.sidebar ul > :last-child{
    margin-bottom: 0;
}

.sidebar ul > li > a:hover {
    background-color: #ffd2d2;
}



.link-button:hover {
    background-color: #ffd2d2;
}